
// This file contains nessasary rtules for checkbox and radio button stuling.
// These are applied upon fa-checkbox.scss and fa-radio.scss files.

$checkbox-background-color: #dddddd;
$checkbox-hover-background-color: #d3d3d3;

@mixin fa-check-common {
    & {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        position: relative;
        cursor: pointer;
        outline: none;
        font: var(--fa-font-solid);
        width: 20px;
        height: 20px;
        
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
        }

        &.border {
            border: 1px solid;
        }

        &.radius {
            border-radius: 10%;
        }

        &:hover{
            background-color: #d3d3d3;
        }

        &:checked::before{
            visibility: visible
        }
    }
}

@mixin fa-check{
    &.fa-check{
        @include fa-check-common;
        &::before {
            content: '\f00c'; /* Unicode character for checkmark in FontAwesome */
        }
    }

    &.fa-square-check {
        @include fa-check-common;
        &::before {
            content: '\f14a'
        }
    }
}

@mixin fa-solid {
    .fa-solid {
        @include fa-check;

        &.fa-check {
            font-weight: 600;
        }

        &.fa-squre-check {
            font-weight: 600;
        }
    }
}


